.admin-lists {
    display: flex;
}

.admin-list {
    flex: 1;
}

.icon-btn {
    color: var(--tone2);
    padding: 3px;
    font-size: 1.2rem;
}
/* 
.editable-item {
    display: grid;
    grid-template-columns: 4rem 1fr;
} */