/* input::placeholder {
    color: #bbbbbb;
}

button,
input,
select {
    font-size: 0.9rem;
    border: 1px solid var(--tone4-dark);
    padding: var(--input-margin);
    border-radius: var(--input-margin);
    transition: border-radius 0.5s;
}

button {
    background-color: var(--tone3);
    color: white;
    border: none;
    margin-inline-end: var(--input-margin);
    min-width: 3rem;
}

button.invert {
    background-color: var(--tone4-dark);
    color: black;
    border: 1px solid var(--tone3);
}

button:focus,
input:focus,
select:focus {
    outline: 2px solid var(--tone4-dark);
    border-radius: 0;
}

.button-indicator {
    display: flex;
    align-content: center;
    align-items: center;
}

.button-indicator div {
    display: inline-block;
}

.button-indicator svg {
    fill: var(--tone3-light);
    height: 0.5rem;
}

.action-message {
    margin-right: 1rem;
    color: var(--tone3-light);
} */