.outer-wrapper {
    width: 100%;
}

.page-container {
    margin-top: var(--page-top-margin);
}

button {
    background-color: var(--tone3);
    color: white;
}

button,
input {
    border: 1px solid var(--tone4-dark);
    padding: var(--input-margin);
    border-radius: 10px;
    transition: border-radius 0.5s;
}

button:focus,
input:focus {
    outline: 2px solid var(--tone4-dark);
    border-radius: 0;
}

h3 {
    color: var(--tone2);
}

/* 48em = 768px */

@media (min-width: 48em) {
    .outer-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .page-container {
        width: 75%;
    }
    .nav-container {
        width: 75%;
    }
}