/* h3 {
    margin-top: 0;
    color: var(--tone2);
}

h4 {
    margin-top: 0;
    color: var(--tone2-light);
} */

.error {
    color: var(--tone3);
    font-weight: bold;
}

.logo img {
    height: 2rem;
    margin-inline-end: 1rem;
}

/* 48em = 768px */

@media (min-width: 48em) {
    /* .outer-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .page-container {
        width: 75%;
    }
    .nav-container {
        width: 75%;
    }
    .main {
        padding: var(--main-margin) 0 0 0;
    } */
}