.outer-wrapper {
    width: 100%;
}

.page-container {
    margin-top: var(--page-top-margin);
}

.main {
    padding: var(--main-margin);
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 0;
    color: var(--tone2);
}

/* 48em = 768px */

@media (min-width: 48em) {
    .outer-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .page-container {
        width: 75%;
    }
    .nav-container {
        width: 75%;
    }
    .main {
        padding: var(--main-margin) 0 0 0;
    }
}