:root {
    /* colors */
    --tone1: #4b98d2;
    --tone1-light: #87c7ed;
    --tone2: #d51383;
    --tone2-light: #e180b4;
    --tone3: #4da547;
    --tone3-light: #95cb5e;
    --tone4: #f4f0ee;
    --tone4-dark: #e9dfd9;
    --shadow: #666666;
    --bg-light: var(--tone4);
    --bg-dark: var(--tone1);
    --text-light: var(--tone3-light);
    /* fonts */
    --text-shadow: 1px 1px 0 var(--shadow);
    /* dimensions */
    --page-top-margin: 4.5rem;
    --main-margin: 0.8rem;
    --input-margin: 0.5rem;
    --title-text-height: 1.9rem;
}

.logo img {
    height: 2rem;
    margin-inline-end: 1rem;
}

/* forms */
.button-row button:not(:last-child) {
    margin-inline-end: 0.5rem;
}

.action-indicator {
    display: inline-block;
}

.action-indicator svg {
    fill: var(--tone3-light);
    height: 0.5rem;
}

.action-message {
    /* margin-inline-start: 1rem; */
    color: var(--tone3-light);
}

/* alert */
.main-alert {
    margin-block-start: 1rem;
}

/* loader */
.loader-container svg {
    stroke: var(--tone1-light);
}

@import './styles/bootstrap-rtl.min.css';
/* @import './styles/new-meeting.css'; */

@import './styles/meetings-table.css';
/* @import './styles/loader.css'; */
/* @import './styles/forms.css'; */